/* COMMON */
img{
    max-width: 100%;
}

body{
    background-color: #f5f5f1;
}

/* MAIN */
.ms_card{
    background-color: white;
}

.ms_card-bottom h2{
    font-size: 1.3rem;
}

.ms_card-bottom h3{
    font-size: 1rem;
}